@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';

$primary: #4a0c85;
$secondary: #2bf4a1;
$bg-primary: #4a0c85;
$bg-secondary: #2bf4a1;

body {
  background: purple;
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.container-grid {
  // display: grid;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;
  // justify-items: stretch;
  // align-items: stretch;
  // grid-template-columns: 1fr 3fr 2fr;
  // grid-template-rows: repeat(auto-fill, 50%);
  // height: calc(100vh - 20px);
  // // grid-template-rows: auto auto 3fr 1fr 1fr auto auto;

  // grid-auto-rows: min-content; /* min-content*/
  // grid-auto-columns: min-content;
  //See this page for row generation https://cssgrid-generator.netlify.app/
  //For individual divs layout wise this property can be used https://www.w3schools.com/cssref/pr_grid-area.asp
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100vw, 1fr));
  grid-auto-columns: min-content;
  grid-auto-rows: min-content; /* min-content*/
  grid-auto-flow: dense;
  width: 100%;
  justify-items: stretch;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: calc(100vh - 20px);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50vw, 1fr));
    max-width: 1440px;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(35vw, 1fr));
    max-width: 1440px;
  }
}

.grid-row {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #4a0c85 0%, #97258a 50%, #2bf4a1 100%);
  background-size: 200%;
  animation: aurora 10s infinite;
  flex-direction: column;

  /* Screen larger than 900px? 3 columns */

  img {
    object-fit: cover;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', serif;
  font-weight: 200;
  color: #2bf4a1;
  letter-spacing: 0.1em;
}

a,
p,
span,
li,
strong,
div {
  font-family: 'Noto Sans JP', sans-serif;
}

.swiper-slide {
  img {
    width: 5%;
    // margin-top: 20px;
    // margin-left: 60px;
    // margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    // height: 100px;
    // width: 100px;
  }
}

.swiper-container {
  background: linear-gradient(30deg, #4a0c85 0%, #97258a 50%, #2bf4a1 100%);
  background-size: 200%;
  animation: aurora 15s infinite;
  border-radius: 8px;
}

.swiper-slide {
  position: relative;
}

#overlay {
  top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(74, 12, 133, 0.4);
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}

.collapsible-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

.collapsbile-image-container {
  img {
    width: 50%;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

::selection {
  background: #2bf4a1;
  color: black;
}

.collaspeelementfirst {
  outline: none !important;
  box-shadow: none;
}

.collaspeelementsecond {
  outline: none !important;
  box-shadow: none;
}

.link-secondary {
  color: #4a0c85;
}

.card-subtitle {
  color: white !important;
}

.card-deck {
  .card {
    background: rgba(74, 12, 133, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");   }

   .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");   }

.rounded-custom {
  border-radius: 8px;
}

.carousel-item:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

a {
  cursor: pointer;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover,
  &:active {
    background-color: $primary;
    border-color: $primary;
  }
}

.bg-primary {
  background-color: $primary !important;
}

.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
  
    &:hover,
    &:active {
      background-color: $secondary;
      border-color: $secondary;
    } 
}

.close {
  color: white;

  &:hover {
    color: white;
  }
}

.modal-content {
  border: none;
  background: rgba(74, 12, 133, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

.modal-img {
    width: 100%;
}

.modal-header {
  background-color: none !important;
}

.secondary {
  color: $secondary;

  &:hover,
  &:active {
    color: $secondary;
    text-decoration: none;
  }
}

#carousel-clients{
    .carousel-caption{
        top: 45%;
        bottom: 0;
    }

}


#asiento-card, #brasidan-card, #db-card{
        .carousel-caption{
            display: flex;
            justify-content: center;
            align-items: center;
        
    }

}

.carousel-caption{
    .card{
        background: rgba(74, 12, 133, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}

.pointer{
    cursor: pointer;
}